body {
    background-color: #212121;
}

h1 {
    color: #f9d521;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

p {
	color: #ff8a65;
	text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

img {
	display:
}